* {
  box-sizing: border-box;
}

body section {
  margin: 10px;
  padding: 0px;
}

.logo {
  width: 90px;
  height: 90px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.04);
  z-index: 10;
}

main {
  top: 240%;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a {
  height: 40px;
  line-height: 40px;
  margin: 10px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0;
  color: gray;
}

a {
  text-decoration: none;
}

.hey {
  color: brown;
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid brown;
}

.nbformaldp {
  height: 60%;
  width: 60%;
}

.main {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 20%;
}

.maintext {
  width: 70%;
  font-size: 30px;
}
.maintext h1 {
  font-size: 2em;
  color: 1c3548;
}

.maintext p {
  color: grey;
  font-size: 25px;
}

.resumebutton {
  width: 220px;
  height: 30px;
  display: flex;
  font-size: 80%;
  color: white;
  align-items: flex-end;
  background-color: brown;
  border-radius: 15px;
  justify-content: center;
}
.resumebutton:hover {
  background-color: rgb(231, 118, 118);
  transition: all ease 0.2s;
}

.menu li a:hover {
  background-color: brown;
  color: white;
  box-shadow: 5px, 10px, 30px rgb(231, 118, 118);
  transition: all ease 0.2s;
  border-radius: 20px;
}
